.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    display: flex;
    flex-flow: column wrap;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 5.0rem;
  }


button {
    font-size:1rem;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.buttons-container{
    margin: 10%;
    display: flex;
    flex-flow: row nowrap;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    justify-content: space-around;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    padding-bottom: 5%;
}

.numbers button {
    width: 11%;
    border-style: solid;
    border-width: 2px;

}

.operators-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    border-style: solid;
    border-width: 2px;
    width: 15%;
}

.operators button {
    width: 11%;
    border-style: solid;
    border-width: 2px;

}
